<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<style>
.box{
    width: 100px;
    height: 100px;
    position: absolute;
}

.red {
    background-color: rgba(255, 0, 0, 0.5);
    left: 100px;
    top: 100px;
}
.green {
    background-color: rgba(0, 255, 0, 0.5);
    left: 120px;
    top: 120px;
}
.blue {
    background-color: rgba(0, 0, 255, 0.5);
    left: 140px;
    top: 140px;
}

.textover{
    position: relative;
    top:50px;
    left: 50px;
    z-index: 10;
}

</style>
</head>
<body>
    <div class="box red"></div>
    <div class="box green"></div>
    <div class="box blue"></div>
    <p class="textover">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel officiis voluptatibus numquam! Exercitationem tenetur nostrum consectetur minus suscipit error repellendus quidem eos sequi beatae, consequatur, nisi minima animi dolorem expedita!
        Optio veniam dolor molestias nihil aperiam illum. Odit perspiciatis distinctio molestias consequuntur dolore consequatur eos earum ipsam deleniti. Necessitatibus temporibus ullam dicta explicabo? Nobis ex corrupti debitis architecto pariatur eligendi!
        Alias quod cupiditate sunt inventore eaque et sit expedita dolor ex rerum ab, tempore cumque blanditiis quae magnam necessitatibus obcaecati tenetur mollitia? Veritatis modi voluptate aperiam incidunt voluptatibus! Nesciunt, beatae.
        Quos deleniti ullam dignissimos. Culpa optio praesentium eius voluptates distinctio, ad exercitationem corrupti adipisci a debitis possimus odit ut, sed itaque earum placeat iure, aliquam sit similique ipsum suscipit sunt!
        Tenetur ullam sunt, non totam, maxime, nostrum quas nulla quidem reiciendis id itaque incidunt magnam doloremque velit quisquam mollitia repellat accusantium animi a. Fuga sequi veniam amet iure, ipsa a?
        Amet commodi facilis nesciunt, officia mollitia ipsa explicabo illum quas veritatis aperiam dolor cupiditate, sequi blanditiis. In soluta exercitationem dicta saepe ut aut, neque nihil quis repellat vero veritatis culpa.
        Inventore delectus ex, temporibus esse architecto corporis quaerat culpa facilis dolores sunt ea dolore tempora. Delectus vero sequi esse perspiciatis officia illo quod inventore! Placeat eligendi illum cumque nisi aut.
        Dolorum voluptas ducimus unde autem ut facere sit similique neque a, nihil facilis necessitatibus deleniti minus nulla commodi, veritatis sed asperiores exercitationem impedit? Optio ipsa, ullam explicabo rerum velit laborum?
        Fugiat dolore ut aut sapiente quas nesciunt laborum, ipsum praesentium animi totam vitae, sequi deleniti tempora doloribus dolor neque saepe rerum delectus quibusdam libero assumenda adipisci in! Voluptatum, magnam ipsum.
        Quas ab aspernatur assumenda repellat mollitia dolorem, voluptates sunt itaque perferendis illo quia aliquam! Perspiciatis quaerat reprehenderit ipsam. Pariatur illum nisi consequatur cupiditate eius minus optio quaerat delectus deleniti aspernatur.
        Tempora, maiores architecto? Voluptatum, fugit? Alias architecto voluptatem suscipit pariatur porro unde nulla, reprehenderit amet fugit nobis, modi laborum ipsum. A reprehenderit dicta corrupti, quisquam illum voluptate excepturi quaerat accusantium!
        Alias, excepturi? Quisquam non doloribus quia cum! Nisi reiciendis dolorum, inventore voluptatibus officia nulla enim. Facere suscipit dignissimos distinctio beatae doloribus corporis, nostrum unde commodi! Aspernatur eveniet natus blanditiis nobis!
        Quasi nihil autem facilis fugiat nobis, labore porro consequatur quaerat fugit iste dolore, consectetur incidunt repellat beatae minus! Reiciendis corrupti nihil voluptates iusto tempore exercitationem cupiditate facere aut eligendi deleniti!
        Nam accusantium qui nulla sapiente officia voluptates id odio cumque tenetur vero quisquam molestias excepturi aliquam earum mollitia ipsa illo obcaecati, minima a, blanditiis reiciendis consequatur. Magni a fuga quidem.
        Sed corporis temporibus quo itaque sit reiciendis. Aperiam debitis ea fugiat dolores quae repellat amet veritatis quo, sit magnam nesciunt architecto temporibus hic qui accusamus assumenda natus a dolor recusandae?
        Necessitatibus, ipsa consequuntur assumenda numquam repellendus minima alias accusamus porro. Recusandae molestias ducimus eligendi odit nihil consequatur, vel repudiandae magni quos dolorem maxime magnam officia, sapiente dolore perferendis excepturi consectetur?
        Ad sed id accusantium totam vel quae incidunt delectus repellat, architecto explicabo, voluptates possimus! Dicta perspiciatis aspernatur eligendi saepe consectetur excepturi esse doloribus ut optio a ratione, vel, necessitatibus deleniti.
        Temporibus, nam iure, nobis, cupiditate eius provident repellendus aliquid earum ipsam debitis et quia corporis incidunt accusamus. Labore odio, obcaecati ea dolore velit rerum excepturi, earum eligendi cupiditate at pariatur?
        Eius fugiat laudantium dolorum possimus tempore, ipsum, aspernatur enim aperiam fugit, explicabo ea distinctio quae harum nesciunt nisi eaque animi nam optio ullam cupiditate autem sunt iure esse quod. Nesciunt?
        Totam eius iusto pariatur tenetur aut magni, cumque vitae numquam culpa eveniet praesentium autem omnis aspernatur. Voluptates, architecto sit cumque ipsa impedit commodi aliquid, officiis excepturi delectus expedita, magnam sapiente.
    </p>
</body>
</html>