<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <span style="background-color: beige;width: 48%;float:right;">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum omnis soluta sint recusandae aperiam culpa nihil, incidunt quis non ducimus, repellendus delectus error impedit ex praesentium quasi enim dolorem itaque?
        </span>  
        <p style="background-color: lightgreen;width: 48%;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi temporibus obcaecati tenetur, blanditiis rerum soluta delectus in error itaque dolores deleniti neque laudantium inventore id rem repellat voluptatibus molestias reiciendis.
            Doloremque, expedita quasi! Cupiditate voluptatum nemo quasi veniam soluta cumque provident voluptate dignissimos culpa aspernatur, dolores perferendis qui rerum magnam molestias, error at esse pariatur in illo tenetur! Perspiciatis, molestias!
            Dolor saepe id temporibus laudantium alias architecto, eum cupiditate vero quia officia repudiandae tenetur nisi inventore, eaque delectus necessitatibus placeat earum rerum nihil voluptatum illum. Totam voluptatem recusandae ipsam voluptatum.</p>      
    </div>

    <div>
        <img src="../gyula.jpg" style="float: right;" alt="">
        <p>Hello World! Hello World! Hello World! Hello World! Hello World! Hello World! Hello World! Hello World! Hello World! Hello World! Hello World! Hello World! Hello World! Hello World! Hello World!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam, in vero rem est labore quibusdam autem dolorem fugit sapiente? Sit pariatur nemo dignissimos necessitatibus deserunt similique natus animi distinctio officiis?
            Sequi eveniet dicta dolor tempore, molestias repellat maxime accusamus harum vel temporibus molestiae nesciunt qui eaque quo eius recusandae iusto perspiciatis sapiente nobis officiis doloremque! Esse aspernatur quo omnis nostrum?
            Facilis, ullam a magnam consequatur maiores soluta deserunt porro corrupti obcaecati quae consequuntur autem neque adipisci pariatur reprehenderit! Nam sed cumque est asperiores in illo? Consequuntur sit quam odio cupiditate.
            Quod aspernatur, ipsam ipsa ipsum itaque fuga rem minus officia magnam quis, nihil eligendi, omnis modi eos expedita. Veritatis sequi, impedit sed nostrum possimus soluta a. Eveniet quam cum provident!
            Voluptatum autem eum doloremque suscipit repellendus. Sequi minus inventore, numquam voluptatem, pariatur eligendi mollitia id atque possimus ducimus aspernatur rem provident aliquam dignissimos harum ea laboriosam sapiente! Rerum, repellendus consequatur?

        </p>
    </div>
</body>
</html>