<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<style>
.container{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-column-gap: 5px;
}
</style>
</head>
<body>
    <div class="container">
        <p><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum voluptatibus aspernatur aut aliquid dolores vitae id impedit consequuntur hic quo labore, vero dolore saepe! Libero error veritatis placeat eum doloribus?</span><span>Quasi dolorum ratione inventore, cum expedita ipsum placeat ducimus illo aliquid natus. Nesciunt at illum laudantium quam corporis officia dolorem. Doloribus dicta voluptatibus nemo nulla assumenda dolorem, ipsum eius perspiciatis.</span><span>Aspernatur eaque itaque alias ab dignissimos, aliquam est sint cum laudantium doloribus temporibus minima quo nihil quas expedita eos. Temporibus repellendus repudiandae nemo commodi, aspernatur doloribus sapiente facilis libero enim.</span></p>
        <p><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam cupiditate culpa voluptatum reprehenderit, sit nemo magnam architecto perspiciatis voluptatem enim deserunt fugiat possimus, incidunt doloribus eos eius. Illo, eaque laborum?</span><span>Sapiente, amet odit! Odio saepe iste hic reiciendis? Architecto porro vitae impedit. Obcaecati in repellendus sint quisquam iure sit culpa placeat vero, necessitatibus, beatae quidem eos officia, maxime eligendi laborum?</span><span>Quidem aliquam qui quis delectus tempora repellendus atque asperiores veniam necessitatibus totam ad nemo labore pariatur quae, voluptatibus sequi omnis minima aperiam alias possimus cupiditate porro repudiandae ducimus unde! Ratione.</span></p>
        <p><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum voluptatibus aspernatur aut aliquid dolores vitae id impedit consequuntur hic quo labore, vero dolore saepe! Libero error veritatis placeat eum doloribus?</span><span>Quasi dolorum ratione inventore, cum expedita ipsum placeat ducimus illo aliquid natus. Nesciunt at illum laudantium quam corporis officia dolorem. Doloribus dicta voluptatibus nemo nulla assumenda dolorem, ipsum eius perspiciatis.</span><span>Aspernatur eaque itaque alias ab dignissimos, aliquam est sint cum laudantium doloribus temporibus minima quo nihil quas expedita eos. Temporibus repellendus repudiandae nemo commodi, aspernatur doloribus sapiente facilis libero enim.</span></p>
        <p><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam cupiditate culpa voluptatum reprehenderit, sit nemo magnam architecto perspiciatis voluptatem enim deserunt fugiat possimus, incidunt doloribus eos eius. Illo, eaque laborum?</span><span>Sapiente, amet odit! Odio saepe iste hic reiciendis? Architecto porro vitae impedit. Obcaecati in repellendus sint quisquam iure sit culpa placeat vero, necessitatibus, beatae quidem eos officia, maxime eligendi laborum?</span><span>Quidem aliquam qui quis delectus tempora repellendus atque asperiores veniam necessitatibus totam ad nemo labore pariatur quae, voluptatibus sequi omnis minima aperiam alias possimus cupiditate porro repudiandae ducimus unde! Ratione.</span></p>
    </div>
</body>
</html>