h1 {
  color: aquamarine;
}

h2 {
  color: violet;
}

p {
  color: rgb(173, 5, 69);

  font-family: 'Courier New', Courier, monospace;
}

.grid-container {
  display: flow-root;
  grid-template-columns: auto;
  gap: 10px;
  background-color: #21f360;
  border-radius: 10px;
  padding: 10px;
  max-width: 500px;
}

.grid-container>div {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  font-size: 15px;
}

.Button1 {
  background-color: aquamarine;
  border: solid black 1px;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  box-shadow: 2px 2px 5px blue;
  cursor: pointer;
}

.item1 > img {
  border-radius: 9999px;
}

.grid-container > .container, .container{
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: transparent;
  border: none;
}
