.kopfzeile {
    color:hsl(160, 80%, 30%);
    background-color: hsl(160, 20%, 80%);
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    padding: 30px;
}

h2 {
    color:hsl(160, 80%, 30%);
}

.box{
    padding: 10px;
    border: solid hsl(160, 20%, 30%) 3px;
    margin: 20px;
}