.linkButtons{color:hsl(0, 80%, 40%);
    font-size: 60px;
    font-weight: 900;
}
.font{color:hsl(41, 80%, 40%);
    font-size: 30px;
    font-weight: 500;
}
.font2{color:hsl(0, 80%, 40%);
    font-size: 30px;
    font-weight: 500;}

.pageHeader{color:hsl(0, 80%, 40%);
    font-size: 100px;
    font-weight: 1900;
    text-align: center;
}

.ohnemargin{
    margin: 0;    
}
.botpadding30{
    padding-bottom: 30px;
}
.padding40{
    padding-top: 40px;
}
.padding80{
    padding-top: 80px;
}

h2{
    color:hsl(41, 80%, 40%);
}