body{
    background-color: black;
}

.text{
    font-size: 80px;
    border-style: solid;
    border-color: white;
    text-align: center;
    margin: auto;
    padding: 5px;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes text {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #b800e6, 0 0 40px #db06d1, 0 0 50px #d812ad, 0 0 60px #eb07df, 0 0 70px #f704d6;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }