.container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.me {
    display: flex;
    align-items: center;
    justify-content: center;
}

.me>img {
    border-radius: 25px;
    border-style: solid;
    border-color: rgb(68, 77, 74);
    height: 384px;
    width: 300px;
    box-shadow: 10px 10px 5px rgb(74, 57, 107);
}


.infoAboutMe {
    font-weight: bold;
    text-align: center;
}

.topnav {
    overflow: hidden;
    display: -ms-inline-grid;
    grid-template-columns: auto auto auto;
}

.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: rgb(74, 57, 107);
    color: black;
}

.Phone {
    position: relative;
    display: flex;
    float: left;
}

.Phone>img {
    display: block;
    width: 150px;
    height: auto;
}

.phoneText {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 200px;
    width: 200px;
    opacity: 0.1;
    transition: 1.5s ease;
}

.phone:hover .phoneText {
    opacity: 1;
}

.text {
    color: rgb(0, 0, 0);
    font-size: 20px;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.Mail {
    display: flex;
    float: left;
    padding-left: 10em;
    margin-top: 2px;
}

.Mail>img {
    display: block;
    width: 200px;
    height: auto;
}

.MailText {
    margin-top: 10px;
}

.text {
    padding-top: 5em;
}

p {
    font-family: 'Times New Roman', Times, serif;

}

.bodyThatsMe {
    background-image: url("../pictures/minimalism-4k-for-mac-desktop-wallpaper-preview.jpg");
    background-repeat: no-repeat;
}


.myHobbies {
    padding-top: 2em;
}

.feedback {
    color: #000000;
}